<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.canyapan.dietdiaryapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To send crash reports and backup to google cloud -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- To backup/restore/export -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- To setup services -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Google Drive API for Android requires those permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <permission
        android:name="com.canyapan.dietdiaryapp.provider.permission.READ"
        android:description="@string/provider_permission_read_description"
        android:label="@string/provider_permission_read_label"
        android:protectionLevel="signature"/>

    <application
        android:name=".Application"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c6db3fb626ddb34768c40db61b30a4e7c84f029c"/>
        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="false"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <!--
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="dietdiaryapp"
                    android:scheme="android"/>
                -->
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".SettingsSupportActivity"
            android:label="@string/activity_settings_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CreateEditEventActivity"
            android:label="@string/activity_create_event_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".BackupRestoreActivity"
            android:label="@string/activity_backup_restore_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canyapan.dietdiaryapp.MainActivity"/>
        </activity>
        <activity
            android:name=".ExportActivity"
            android:label="@string/activity_export_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canyapan.dietdiaryapp.MainActivity"/>
        </activity>

        <provider
            android:name=".SharingSupportProvider"
            android:authorities="com.canyapan.dietdiaryapp.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.canyapan.dietdiaryapp.provider.permission.READ"/>

        <service
            android:name=".services.DailyReminderService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>

        <service
            android:name=".services.DriveBackupService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>

    </application>

</manifest>